<div class="col-12 col-md-4 col-lg-3 bg-light p-4 sidebar">
    <img src="../../assets/images/alianza.jpg" alt="Alianza Logo" class="img-fluid">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Client look history</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emergency PIN configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emergency PIN history</a>
      </li>
    </ul>
  </div>