.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-dialog {
    margin: 10% auto;
  }
  
  .btn-group {
    display: flex;
    align-items: center;
  }
  
  .form-inline {
    display: flex;
    align-items: center;
  }
  
  .form-inline input {
    width: 250px;
  }
  

  